NEXT_PUBLIC_APPWRITE_ENDPOINT=YOUR_ENDPOINT
NEXT_PUBLIC_APPWRITE_PROJECT_ID=YOUR_PROJECT_ID

APPWRITE_DATABASE_ID=passwordManagerDb

APPWRITE_TABLE_CREDENTIALS_ID=credentials
APPWRITE_TABLE_TOTPSECRETS_ID=totpSecrets
APPWRITE_TABLE_FOLDERS_ID=folders
APPWRITE_TABLE_SECURITYLOGS_ID=securityLogs
APPWRITE_TABLE_USER_ID=user

APPWRITE_TABLE_CREDENTIALS_NAME=Credentials
APPWRITE_TABLE_TOTPSECRETS_NAME=TOTP Secrets
APPWRITE_TABLE_FOLDERS_NAME=Folders
APPWRITE_TABLE_SECURITYLOGS_NAME=Security Logs
APPWRITE_TABLE_USER_NAME=user

NEXT_PUBLIC_APP_BASE_URL=

NEXT_PUBLIC_LOGGING_VERBOSE=

AUTH_SUBDOMAIN=accounts
APP_SUBDOMAIN=whisperrnote.space